@model DoctorAppointments.Models.Appointment
@{
    ViewBag.Title = "RequestAmka";
}


<h2>Request Amka</h2>

@using (Html.BeginForm("PrevAppointments", "Appointments", FormMethod.Get))
{
    @Html.Label("AMKA:")
    @Html.TextBox("AMKA", null, new { @placeholder = "Type your AMKA" });
    <input type="submit" value="Show Appointments"/>
}
