@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Medical appointments managment system</h1>
    <p class="lead">Browse the menu to discover additional functionalities.</p>

</div>