
@{
    ViewBag.Title = "This Week's Appointmets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Social Security Number</h2>


@using (Html.BeginForm("ShowAppointmentsPerWeek", "Doctors1", FormMethod.Get))
{
    @Html.Label("AMKA:")
    @Html.TextBox("AMKA", null, new { @placeholder = "Type your AMKA" });
    <input type="submit" value="Show Appointments" />
}
